#own1{ 
	float:left;
	width: 600px;
	} 
#searchBar2{
padding:50px;position:relative;height:39px;}#searchBar h1{color:#313131;font-family:'InloveLight';font-size:38px;line-height:1em;margin-bottom:35px;
	}
	

	
	/* do not change */
	.rbutton {
		background-color:  #48D1CC;
		
		cursor: pointer;
		display: -moz-inline-box;
		 -moz-border-radius: 20px;
	    -webkit-border-radius: 20px;
	    -khtml-border-radius: 20px;
		font-family: verdana;
		font-size: 11px;
		font-weight: bold;
		text-transform: uppercase;
		text-decoration: none;
	
	
		display: inline-block;
		padding-left: 5px;
		padding-bottom: 1px;
		line-height: 19px;
		background-position: lef top;
		background-repeat: no-repeat;
	}

